body {
	background: url("../images/tinygrid.png");
	font-family: helvetica;
	margin:0px;
}
nav {
	background:hsla(106, 100%, 100%, 0.57);
}
nav ul {
	background:hsla(106, 100%, 100%, 0.57);
	padding:0px;
	margin:0px;
	margin-left:17%;
}
nav ul li {
	display:inline;
	margin:17%;
	font-size:18px;
}
.container {
	width:992px;
	margin:0 auto;
}
.content-strip {
	min-height:220px;
	padding:15px;
	margin:20px 10px 10px 10px;
	background:hsla(106, 100%, 100%, 0.57);
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	border-radius:10px;
}
.content-strip img {
	float:right;
}
.content-strip ul {
	display:inline;
}
.content-strip li {
	float:left;
	padding-left:3px;
	list-style-type: none;
}
article {
	max-width:305.5px;
	min-height:210px;
	background:hsla(106, 100%, 100%, 0.57);
	border-right:1px solid gray;
	border-bottom:1px solid gray;
	border-radius:10px;
	float:left;
	margin:10px;
	padding:2px;
}

article img {
	float:right;
}

.contact {
	float:right;
	height:100%;

}
.about {
	overflow:hidden;
	padding-right:5px;
}