h1 {
	color: blue;
}
body {
	background: url("../images/tinygrid.png");
	font-family: helvetica;
}
img {
	border-radius:30px;
	border-top: 1px solid gray;
	border-bottom: 1px solid black;
}
#full-name {
	font-size:55px;
}
#find-out-link {
	font-size:40px;
}
.initials {
	margin: 100px auto;
	margin-bottom:0px;
	text-align: center;
	font-size: 80px;
}
.names {
	margin: 0px auto;
	text-align: center;
	font-size: 80px;

    opacity: 0.0;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    transition-delay: 1s;

}
.details {
	margin-top:0px;
	opacity: 0.0;
}

.initials:hover .names {
    opacity: 1.0;
    margin-top:50px;
}

.names:hover .details {
	opacity:1.0;
	margin-top:50px;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}